body {
    font-family: 'Lucida Grande', 'sans-serif';
    padding: 0;
    margin: 0;
}

.view#menu,
.view#app {
    display: none;
    text-align: center;
}

#flow {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    padding: 50px;
    /*float: left;*/
    padding: 100px 0 0 50px;
    box-sizing: border-box;
    text-align:left;
    /*margin-top: 10px;*/
    position: absolute;
    height: 100%;
    width: 100%;
}

#title {
    z-index: 1;
}

#menu, #title {
    position: fixed;
    padding: 20px 0 0;
    background-color: #FFFFFF;
    width: 100%;
    text-transform: uppercase;
}

#title #back-to-menu,
#new-flow {
    font-size: 12px;
    color: #CCCCCC;
    text-decoration: none;
    margin: 0;
}

#title #email {
    display: none;
}

#menu ul,
#menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu li {
    line-height: 24px;
}

#menu .delete-flow {
    display: none;
    margin-left: 5px;
    color: #999999;
}

#menu .delete-flow:after {
    content: "\00D7";
}

.sequence {
    /* Remove the white space */
    font-size: 0;
    position: relative;
    height: 100%;
}

.delete-sequence {
    font-size: 16px;
    position: absolute;
    left: -30px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.moment {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.moment textarea {
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
    text-align: center;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    line-height: 1em;
    padding: 0;
}

.moment.dragenter {
    background-color: #F8E71C;
}

.add-sequence {
    height: 50px;
    margin: 0 50px;
    display: none;
}

.add-sequence:hover {
    background-color: #EFEFEF;
}

.moment.new {
    background-color: #EFEFEF;
}

.moment.highlight {
    border: 1px dashed #000000;
}

.block-visibility {
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 25px;
    left: 0px;
    text-align: center;
    display: none;
    cursor: pointer;
}

.moment .highlight-moment {
    width: 25px;
    position: absolute;
    top: 1px;
    right: 1px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.moment span.highlight-question {
    background-color: yellow;
}

.moment span.highlight-action {
    background-color: lightgreen;
}

.add-moment {
    color: #CCCCCC;
    display: inline-block;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 250px;
    font-size: 16px;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.add-block {
    background-color: #FFFFFF;
    height: 20px;
    width: 100%;
}

.add-block:hover {
    background-color: lightgreen;
}

.add-moment:hover {
    background-color: lightgreen;
}

#delete-moment {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 12;
    color: #CCCCCC;
    height: 100px;
    line-height: 100px;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    background-color: white;
}

.block {
    margin: 0;
    display: inline-block;
    width: 220px;
    height: 80px;
    text-align: center;
    font-size: 11px;
    cursor: move;
    vertical-align: top;
    position: relative;
    border: none;
    box-sizing: border-box;
    white-space: normal;
    padding: 10px;
    background-color: #efefef;
}

.block.hidden {
    background-color: #FFFFFF;
}

.block-control {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: none;
    cursor: pointer;
}

.block-control:hover {
    background-color: #CCCCCC;
}

.block-control.hide-block {
    left: 0px;
    top: 25px;
}

.block-control.bigger {
    right: 0px;
    top: 0px;
}

.block-control.smaller {
    right: 0px;    
    top: 25px;
}

.block-control.delete-block {
    top: 0px;
    left: 0px;
}

#delete-moment.delete-enter {
    background-color: red;
}