body {
    font-family: 'Lucida Grande', 'sans-serif';
    padding: 0;
    margin: 0;
}

#flow {
    position: relative;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 50px;
    float: left;
}

#title h2 {
    margin: 20px 0 0 100px;
    text-transform: uppercase;
}

#title #back {
    font-size: 12px;
    color: #CCCCCC;
    text-decoration: none;
}

.sequence {
    /* Remove the white space */
    font-size: 0;
}

.moment textarea {
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
    padding: 20px;
    text-align: center;
    border: none;
    vertical-align: middle;
    line-height: 24px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.moment textarea.empty  {
    border: 1px solid #EFEFEF;
}

.moment textarea.dragenter {
    background-color: #F8E71C;
}

.add-sequence {
    height: 50px;
    margin: 0 50px;
}

.add-sequence:hover {
    background-color: #EFEFEF;
}

.moment {
    margin: 0;
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 16px;
    cursor: move;
    vertical-align: middle;
}

.moment.new {
    background-color: #EFEFEF;
}

.add-moment {
    color: #CCCCCC;
    display: inline-block;
    height: 250px;
    width: 50px;
    text-align: center;
    line-height: 250px;
    font-size: 16px;
    vertical-align: middle;
}

.add-moment:hover {
    background-color: #EFEFEF;
}

#delete-moment {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 12;
    color: #CCCCCC;
    height: 100px;
    line-height: 100px;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    background-color: white;
}

#delete-moment.delete-enter {
    background-color: red;
}